// -----------------------------------------------------------------------------
// This file contains all styles related to the functions of the site/application.
// -----------------------------------------------------------------------------